/* cores */
:root{
    --font-primary-color: black;
    --bg-body: #B4BEC9;
    --bg-header: #159A9C;
    --bg-nav: #002333;
    --bg-main: #B4BEC9;
    --bg-aside: #B4BEC9;
    --bg-footer: #DEEFE7;
}
/* reset */
*,
*:after,
*::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--font-primary-color);
}

html, body{
    max-width: 100vw;
    min-height: 100vh;
    color: var(--font-primary-color);
    background-color: var(--bg-body);
}

/* font */

.t-justify{
    text-align: justify;
}

.t-center{
    text-align: center;
}

/* grid */
#page{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr 10%;
    gap: 8px;
}
#page > header{
    grid-area: header;
    background-color: var(--bg-header);
}

#page > main{
    grid-area: main;
    background-color: var(--bg-main);
}

#page > aside{
    grid-area: aside;
    background-color: var(--bg-aside);
}

#page > footer{
    grid-area: footer;
    background-color: var(--bg-footer);
}

/* flex */

.container{
    display: flex;
    width: 100%;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}

.justify-start{
    justify-content: flex-start;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}
.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}

.align-self-end{
    align-self: flex-end;
}
/* espaçamento */
.w1{
    width: 16px;
}
.w2{
    width: 32px;
}
.w3{
    width: 64px;
}
.w4{
    width: 128px;
}
.w100{
    width: 100%;
}
.h1{
    height: 16px;
}
.h2{
    height: 32px;
}
.h3{
    height: 64px;
}
.h4{
    height: 128px;
}
.h100{
    height: 100%;
}
.pr{
    padding-right: 8px;
}
.pl{
    padding-left: 8px;
}

.m1{
    margin: 8px;
}

.ml1{
    margin-left: 8px;
}

.gap{
    gap: 8px;
}

.gap1{
    gap: 16px;
}

/* menu dropdown */
.menu
{
  background: var(--bg-nav);
  border-radius: 6px;
}

.menu ul
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu ul li
{
  list-style: none;
  padding: 4px;
  position: relative;
  transition: 0.5s;
  display: block;
}

.menu ul li a
{
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.menu ul li a:hover
{
  
  background: var(--bg-nav);
  border-radius: 6px;
}

.menu ul li ul
{
  display: none;
}

.menu ul li:hover ul
{
  display: block;
  position: absolute;
  margin-top: 5px;
  background: var(--bg-nav);
  border-radius: 6px;
  width: 100%;
  padding: 10px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
}

/* itens especificos */
.logo{
    width: 128px;
    height: 64px;
}

.btn-sm{
    width: 96px;
    height: 24px;
}